<h2><?php echo __('Dashboard') ?></h2>
	
<div class="row-fluid">
	<div class="span4">
		<h3><?php echo __('Latest Plants') ?></h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn" href="#">View details »</a></p>
	</div><!--/span-->
	<div class="span4">
		<h3><?php echo __('Your Plants') ?></h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn" href="#">View details »</a></p>
	</div><!--/span-->
	<div class="span4">
		<h3><?php echo __('Latest Comments') ?></h3>
		<p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
		<p><a class="btn" href="#">View details »</a></p>
	</div><!--/span-->
</div>