/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Set the fixed height of the footer here */
#footer {
    margin-top: 20px;
    background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
    padding-top: 60px;
}
@media (max-width: 980px) {
    #wrap > .container {
        padding-top: 0px;
    }
}
.container .credit {
    margin: 20px 0;
}

code {
    font-size: 80%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#footer ul li {
    margin: 0;
    padding: 0;
}