<div style="height: 16px;"></div>

<?php echo $this->Html->image('http://www.gravatar.com/avatar/'.md5($user['User']['email']).'?s=256', array('class' => 'img-circle')) ?>

<h2><?php echo $user['User']['username'] ?> <span class="label"><?php echo $user['User']['role'] ?></span></h2>

<h3><?php echo $user['User']['first_name'] ?> <?php echo $user['User']['last_name'] ?></h3>

<?php if ($this->Session->read('Auth.User.role') == 'admin') : ?><span class="label"><?php echo $user['User']['email'] ?></span><?php endif; ?>